*{
    margin: 1px;
}
#container{
display: flex;
flex-direction: row;   
flex-wrap: wrap;
}
.box{
    margin: 2px;
    padding: 5px;
    width: 26rem;
    font-Size: 10px ;
}
img{
    height: 180px;
    width: 10px;
}
#btn{
    width: 6rem;
    font-size: 9px;
}
#footer{
    font-family: cursive;
    font-size: 10px;
}
